<a href="https://colab.research.google.com/github/KurtEmprese/CPEN21A-CPE-1-2/blob/main/Emprese_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Introduction to Python
###Indentation

In [2]:
if 5 > 3:
  print("Five is greater than three")

Five is greater than two

###Comments

In [3]:
#This is a comment
#this is also a comment

###Naming variables

In [6]:
age = 18
name = "kurt"
a, b, c = 1, 2, 3
print(age)
print(name)
print(a, b, c)

18
kurt
1 2 3

###Casting and type() functions

In [12]:
a = int(3.0312323) #This is casting
print(a)
print(type(a))     #This is type() functions
asd = type("bruh")
print(asd)

3
<class 'int'>
<class 'str'>

###Case sensitive

In [14]:
bruh = 123
BRUH = 321
print(bruh, BRUH)
#bruh and BRUH are different variables

123 321

###Multiple variable

In [15]:
a, b, c = 1, 2, 3
print(a,b,c)

1 2 3

###One value to multiple variables

In [16]:
a = v = s = 12314141
print(a,v,s)

12314141 12314141 12314141

###Output variables

In [18]:
name = "kurt"
print("my name is", name)

my name is kurt

###Arithmetic Operations

In [27]:
a = 13
b = 6
print(a % b)

1

###Assignment Operators

In [53]:
g = 1
g +=1
print(g)

2

###Comparison Operators

In [55]:
print(g==g)

True

###Logical Operators

In [59]:
print(not(a==b and b>a))

True

###Identity Operators

In [60]:
t = 123
y = 123
print(t is y)

True