<a href="https://colab.research.google.com/github/KurtEmprese/CPEN21A-CPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [5]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [8]:

for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [10]:
#break statement
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through string

In [11]:
for x in "Programming with Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

The range() function

In [12]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

Nested Loops

In [14]:
adj = ["red", "big", "tasty"]
fr = ["apple", "banana", "cherry"]

for x in adj:
  for y in fr:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [17]:
i = 10
while i>6:
  print(i)
  i-=1

10
9
8
7

another break statement

In [21]:
i = 10
while i>6:
  print(i)
  if i==8:
    break
  i-=1

10
9
8

The continue Statement

In [27]:
i = 10
while i>6:
  i=i-1
  if i==8:
    continue
  print(i)

9
7
6

The else Statement

In [28]:
i = 10
while i>6:
  i-=1
  print(i)
else:
  print("i is no longer greater than six")

9
8
7
6
i is no longer greater than six

Application 1

In [93]:
q = ["Value"]
w = 0

while w<=11:
  w+=1
  if w==11:
    break
  for x in q:
    print(x,w)

Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

Application 2

In [33]:
i = 20

while i>3:
  i-=1
  print(i)
  if i==4:
    break
else:
  print("i is no longer greater than 3")

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4